<div class="container">
  <div class="row" id="headerRow">
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>
              Inspire
            </h1>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div id="container2">
      <img src="{{image}}" alt="" />
      <p>{{quote}}</p>
    </div>
  </div>
</div>
